.textbox{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right,rgb(139, 103, 202),rgb(79, 162, 193));
    display: flex;
    justify-content: center;
    align-items: center;
}
.textbox{
    height: 300px;
    width: 300px;
    background-color: greenyellow;
    padding: 30px;
}
button{
    margin-left: 10px;
    margin-top: 100px;
}